<!DOCTYPE>
<html ng-app>
<div class = "container">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="info">
        <th>SALE ID</th>
        <th>PRODUCT ID</th>
        <th>DATE</th>
        <th>QTY</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active" *ngFor = "let sale of salesweek">
        <td class = "col-md-3">
          {{sale.id}}
        </td>
        <td class = "col-md-3">
          {{sale.prodId}}
        </td>
        <td class = "col-md-3">
          {{sale.date}}
        </td>
        <td class = "col-md-3">
          {{sale.qty}}
        </td>
      </tr>
    </tbody>
  </table>
</div>