nav a{
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
nav a:visited, a:link{
    color: #607D83;
}

nav a:hover{
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active{
    color: #039be5;
}

#nav_bar{
    margin: auto;
    width: 40%;
    margin-bottom: 3em;
}

.container-fluid ul
{
    display: inline-block;
}

#nav_bar
{
    width: 46%;
}
