<div class = "container">
    <h2 class = "page-header">Edit product ID {{id}}</h2>
    <form (submit) = "editProduct()">
      <input type= "submit" class = "btn btn btn-success" value = "Edit Product">
      <div class = "form-group">
        <label>New name</label>
        <input type = "text" [(ngModel)] = "name" name = "name" class = "form-control">
      </div>
      <div class = "form-group">
        <label>New price</label>
          <input type = "number" [(ngModel)] = "price" name = "price" class = "form-control">
      </div>
      <div class = "form-group">
        <label>New stock</label>
        <input type = "number" [(ngModel)] = "stock" name = "stock" class = "form-control">
      </div>
    </form>
    <button (click)="goBack()">Go Back</button>
  </div>

