<!DOCTYPE>
<html ng-app>
<div class = "container">
  <table>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>PRICE</th>
      <th>STOCK</th>
      <th>DELETE</th>
      <th>EDIT</th>
    </tr>
    <tr *ngFor = "let product of products">
      <td class = "col-md-3">
        {{product.id}}
      </td>
      <td class = "col-md-3">
        {{product.name}}
      </td>
      <td class = "col-md-3">
        {{product.price}}
      </td>
      <td class = "col-md-3">
        {{product.stock}}
      </td>
      <td class = "col-md-3">
          <button (click) = "deleteProduct(product.id)" class = "btn btn-danger">Del</button>
      </td>
      <td class="col-md-3">
          <input type="button" value="Edit" class="btn btn-info"/>
      </td>
    </tr>
  </table>
</div>
</html>